$mainBGColor: #584577;
$featureColor: #ce2d4f;
$focusColor: #ff3862;
$accentColor: #f0eaf8;

$mainTextColor: #eee;
$brightTextColor: #fff;
$invertTextColor: #222;
$invertBrightTextColor: #000;

$inputBGColor: #e3d3e4;
$inputBGColorFocus: #1b98e0;
$inputPlaceholderColor: #dc758f;

$buttonMutedBG: #31263e;
$buttonMutedBGHover: #44355b;
$buttonAccentedBG: #acdde7;
$buttonAccentedBGHover: #adb9e3;
$buttonCancelBG: #f0a202;
$buttonCancelBGHover: #f18805;
