@import "mixins";
@import "colors";
@import "inputs";

:root {
	background-color: $mainBGColor;
	color: $mainTextColor;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

body {
	padding: 0;
	margin: 0;
}

#main:has(#content) {
	display: grid;
	grid-template-columns: $navBarSize 1fr;
	grid-template-areas: "Nav Content";
}

#content {
	grid-area: Content;
	padding: 10px;
	/* margin-left: $navBarSize; */
}

.mediaGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;

	.mediaItem {
		width: 200px;
		background-color: $featureColor;

		img {
			aspect-ratio: 1;
			object-fit: cover;
			object-position: center;
			width: 100%;
			background-color: $invertTextColor;
			border: 0;
			outline: none;
		}

		.info {
			padding: 2px 5px;

			.name {
				text-align: center;
				width: 100%;
				display: block;
				overflow: hidden;
			}
			.details {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

#main:has(#centralModal) {
	display: grid;
	place-items: center;
	height: 100dvh;
	width: 100dvw;
}

#centralModal {
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.notif {
	background-color: red;
	display: grid;
	grid-template-columns: 50px 1fr;
	height: 50px;
	border-radius: 20px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;

	.icon {
		padding: 10px;
	}

	.message {
		padding: 10px;
		align-self: center;
	}
}
